project/data/
Basic AI with Python/
MISC/
LAB1/
LAB2/
LAB3/
LAB4/
StudyNotes/
outputs/
Deeplearning.code-workspace
.vscode/    
__pycache__/
*.pyc
.env
.DS_Store
.ipynb_checkpoints/
logs/
models/
checkpoints/
results/
*.h5
*.ckpt
*.pth
*.log
*.csv
*.tsv
*.xlsx
*.zip
*.tar.gz
*.egg-info/
*.sqlite3
*.kirasg
*.onnx
*.Keras
*.tflite
tafecompute.yml
.gitignore
